// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

a, a:hover {
    text-decoration: none;
}

.comment {
    margin: 12px 0;
    padding: 12px;
    background-color: rgb(235, 235, 235);
    border: 1px solid grey;
    border-top: 0;
}